body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav-toggle {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 10px 0;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (min-width: 600px) {
    .nav-list {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-list li {
      margin: 0 10px;
    }
  }
  
  /* Header */
  header {
    background-image: url("https://cdn.pixabay.com/photo/2019/08/09/07/27/wwii-4399336_1280.jpg");
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .title {
    margin: 0;
  }
  
  .subtitle {
    font-style: italic;
  }
  
  /* Main Content */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h3 {
    margin-top: 0;
  }
  
  article p {
    margin-bottom: 10px;
  }
  
  article a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 5px 10px;
  }
  
  article a:hover {
    background-color: #333;
    color: white;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease-in-out;
  }
  
  .button-link:hover {
    background-color: #000000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16), 0 5px 10px rgba(0, 0, 0, 0.23);
  }
  